<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Checklist</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
  </head>
  <body>
    <div id="app">
      <div class="container">
        <h3 class="pt-4">
          Checklist
        </h3>
        <h4 class="pb-4">
          <small class="text-muted">
            Vue.js <a href="https://github.com/TheInvader360/checklist-frontend-vuejs">frontend</a>
            & Go <a href="https://github.com/TheInvader360/checklist-backend-golang">backend</a>
          </small>
        </h4>
        <table class="table table-hover">
          <tbody>
            <tr v-for="(task, index) in tasks">
              <td>{{ task.id }}</td>
              <td>{{ task.info }}</td>
              <td>{{ task.done }}</td>
              <td>
                <button v-on:click="deleteTask(task.id, index)" class="btn btn-danger btn-sm rounded-0 float-right" type="button">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="input-group">
          <input v-on:keyup.enter="createTask" v-model="creatingTask.info" class="form-control" type="text">
          <div class="input-group-append">
            <button button v-on:click="createTask" class="btn btn-primary" type="button">
              <i class="fa fa-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
  <script>
  new Vue({
    el: '#app',
    data: {
      tasks: [],
      creatingTask: {}
    },
    methods: {
      deleteTask(id, index) {
        fetch('http://localhost:8080/tasks/' + id, {
          method: "DELETE"
        })
        .then(() => {
          this.tasks.splice(index, 1)
        })
      },
      createTask() {
        this.creatingTask.done = false
        fetch('http://localhost:8080/task', {
          body: JSON.stringify(this.creatingTask),
          headers: {
            "Content-Type": "application/json",
          },
          method: "POST"
        })
        .then(response => response.json())
        .then((data) => {
          this.creatingTask.id = data.id
          this.tasks.push(this.creatingTask)
          this.creatingTask = {}
        })
      }
    },
    mounted() {
      fetch('http://localhost:8080/tasks')
      .then(response => response.json())
      .then((data) => {
        this.tasks = data
      })
    }
  })
  </script>
</html>
